body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  box-sizing: border-box;
  width: 220px;
  height: 100vh;
  background: #1f2937;
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  color: #cbd5f5;
  margin: 10px 0;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
  font-weight: bold;
}

.layout {
  display: flex;
}

.main {
  margin-left: 220px;
  /* background-color: red; */
  width: 100%;
}

.topbar {
  height: 60px;
  background: #f9fafb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

.content {
  padding: 20px;
}

button {
  background: blue;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input,
select {
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.menu-btn {
  display: none;
  background: none;
  color: #111;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .main {
    margin-left: 0;
  }
}
