@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Mulish", sans-serif;
}


